
.warning-message-container {
    /* width: 100vw; */
    background-color: #8C2020;
    color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: center;  */
    /* align-items: center;  */
    /* box-sizing: border-box; */
    padding: 20px;
    z-index: 9999;
    text-align: center;
   

}

.warning-message-container h1 {
    margin: 0;
    font-size: 18px;
}

.warninng-message-container p {
    margin: 0;
    font-size: 16px;
}
