html,
body,
#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}
.Dashboard-Container {
  margin-left: 5vh;
}
.Dashboard-Container h1 {
  margin-left: 10vh;
  margin-bottom: 0px;
}
.Dashboard-Container p {
  margin-left: 10vh;
  margin-top: 5px;
}
.Dashboard-Content {
  display: flex;
  flex-wrap: wrap;
}

.Dashboard-Left {
  flex: 1;
}
.Dashboard-Right {
  flex: 0.9;
}
.Dashboard-Req {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #f0dd98;
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: 10vh;
  padding: 30px 10px 50px;
  border-radius: 10px;
}
.Dashboard-Req h1 {
  font-size: 30px;
}

.Dashboard-Req img.DashboardSalad-img {
  position: absolute;
  transform: translate(95%, -32%);
  max-width: 50vh;
  height: auto;
  object-fit: cover;
  z-index: 1;
}
.Dashboard-Req a {
  padding: 5px 10px;
  background-color: #ef723d;
  margin-left: 10vh;
  margin-top: 10px;
  font-size: 15px;
  font-weight: 800;
  border-radius: 5px;
  text-decoration: none;
  border: none;
  color: #fff;
}
.Dashboard-Req a:hover {
  background-color: #294c2b;
}

.Dashboard-Fitur {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2vh;
  margin-left: 10vh;
}
.Dashboard-Pengukur {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #f0dd98;
  color: #ffffff;
  padding: 10vh;
  border-radius: 20px;
}
.Dashboard-Nutrisi h1,
.Dashboard-Reminder h1,
.Dashboard-Kalori h1 {
  font-size: 22px;
  margin-bottom: 20px;
  margin-left: 0;
}
.Dashboard-Reminder {
  margin-left: 10vh;
}
.Dashboard-Pengingat {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #294c2b;
  color: #ffffff;
  padding: 40px;
  border-radius: 20px;
}
.Dashboard-Pengingat h1 {
  font-size: 35px;
}
.Dashboard-Pengingat p {
  font-size: 20px;
  margin-left: 0;
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
  .Dashboard-Container {
    margin-left: 2vh;
  }
  .Dashboard-Container h1,
  .Dashboard-Container p {
    margin-left: 2vh;
  }
  .Dashboard-Content {
    flex-direction: column;
  }
  .Dashboard-Req {
    margin-left: 12vh;
    margin-right: 5vh;
  }
  .Dashboard-Req img.DashboardSalad-img {
    transform: translate(70%, -25%);
    max-width: 70%;
    height: auto;
  }
  .Dashboard-Kalori {
    margin-left: 10vh;
    margin-bottom: 2vh;
  }
  .Dashboard-Req a {
    margin-left: 2vh;
  }
  .Dashboard-Fitur {
    flex-direction: column;
    margin-left: 2vh;
  }
  .Dashboard-Pengukur,
  .Dashboard-Pengingat {
    padding: 5vh;
  }
}

@media only screen and (max-width: 450px) {
  .Dashboard-Container {
    margin-left: -3vh;
  }
  .Dashboard-Container h1 {
    font-size: 20px;
  }
  .Dashboard-Container p {
    font-size: 14px;
  }
  .Dashboard-Req {
    margin-left: 14vh;
    /* 
    margin-right: 5vh; */
  }
  .DashboardSalad-img {
    width: 70%;
    margin-top: -1vh;
  }
  .Dashboard-Req h1 {
    font-size: 20px;
  }
  .Dashboard-Req a {
    font-size: 12px;
  }
  .Dashboard-Kalori {
    margin-left: 12vh;
    /* margin-right: 3vh; */
    margin-bottom: 2vh;
  }
  .Dashboard-Content {
    flex-direction: column;
  }
  .Dashboard-Fitur {
    flex-direction: column;
    margin-left: 2vh;
  }
  .Dashboard-Pengingat {
    margin-left: 2vh;
    margin-right: 2vh;
  }
  .Dashboard-Kalori h1,
  .Dashboard-Pengingat h1 {
    font-size: 22px;
    margin-left: 2vh;
  }
  .Dashboard-Pengingat p {
    font-size: 16px;
  }
}
