.KalenderDashboard-Container {
  display: flex;
  justify-content: center;
  background-color: #f0dd98;
  max-width: 100%;
  border-radius: 20px;
  padding: 20px;
  margin-top: 5vh;
  margin-left: 15vh;
  margin-right: 5vh;
}

.KalenderDashboard {
  display: flex;
  flex-direction: column;
}

.Kalender-month {
  font-size: 22px;
  font-weight: bold;
  font-family: "Marko One", sans-serif;
}

.Kalender-week {
  display: flex;
  width: 80%;
  justify-content: space-between;
  gap: 10px;
  font-family: "Marmelad", sans-serif;
}

.Kalender-day {
  display: flex;
  flex-direction: column;
  padding-inline: 15px;
  padding-block: 15px;
  width: 50px;
  gap: 10px;
  font-family: "Marmelad", sans-serif;
}

.Kalenderday-name {
  font-size: 16px;
  margin-bottom: 5px;
  white-space: nowrap;
}

.Kalenderday-number {
  font-size: 14px;
  white-space: nowrap;
}

.Kalender-current {
  background-color: #294c2b;
  color: white;
  border-radius: 20px;
}

@media (max-width: 768px) {
  .KalenderDashboard-Container {
    margin-left: 0;
    margin-right: 0;
  }

  .Kalender-week {
    width: 100%;
  }

  .Kalender-day {
    width: auto;
    padding-inline: 5px;
  }
}

@media (max-width: 480px) {
  .KalenderDashboard-Container {
    margin-left: 11vh;
    max-width: 75%;
  }
  .Kalender-month {
    font-size: 15px;
    margin-left: 10px;
  }

  .Kalenderday-name {
    font-size: 13px;
  }

  .Kalenderday-number {
    font-size: 12px;
    white-space: nowrap;
  }
}
