.daily-meals{
  padding: 40px 220px 20px 220px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.daily-meals-container{
display: flex;
flex-direction: column;
gap:30px;
align-items: center;
}

.daily-meal-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #294C2B;
  color: white;
  padding: 20px 0px 20px 70px;
  border-radius: 16px;
  width: 1100px;
  height: 250px;
}

.personalize-meal-text{
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.daily-meal-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap:16px;
}

.meal-type{
  margin-bottom: 10px;
  font-size: 20px;
}

  .add-button button {
    background-color: #EF723D;
    color: white; 
    border: none; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    cursor: pointer; 
    border-radius: 8px; 
  }
  


.daily-meal-image img {
  max-width: 170px;
  border-radius: 100%;
}