.personalize-section {
  padding: 20px 0px 20px 0px;
  background-color: #f0dd98;
  display: flex;
  flex-direction: column;
}

.profile-picture {
  width: 100px;
  height: 100px;
}

.chart-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.chart-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5vh;
  font-size: 18px;
}

.chef-picture {
  max-width: 370px;
  position: absolute;
  top: -7px;
  left: 260px;
  /* flex-grow: 1 ; */
  /* transform: translateY(20px);  */
}

.chart-meal-type {
  font-weight: 700;
}

.chart-calorie-left {
  /* add different font type here */
}

.warning-section {
  padding: 20px 0px 20px 0px;
  background-color: #f0dd98;
}
