.personalize-section {
  padding: 20px 0px 20px 0px;
  background-color: #f0dd98;
  display: flex;
  flex-direction: column;
}

.profile-picture {
  width: 100px;
  height: 100px;
}

.chart-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.chart-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2vh;
  font-size: 15px;
  font-weight: bold;
}

.chef-picture {
  max-width: 371px;
  position: absolute;
  left: 290px;
  transform: translateY(-125px);
}

.warning-section {
  padding: 20px 0px 20px 0px;
  background-color: #f0dd98;
}
@media (max-width: 768px) {
  .chart-container {
    flex-direction: column;
    align-items: center;
  }

  .chef-picture {
    width: 80%;
    position: static;
    transform: none;
  }

  .chart-description {
    text-align: center;
    margin: 10px 0;
  }
}
@media (max-width: 450px) {
  .chart-container {
    flex-direction: column;
    align-items: center;
  }

  .chef-picture {
    max-width: 0%;
    position: static;
    transform: none;
    margin-top: 4vh;
  }

  .chart-description {
    text-align: center;
    margin: 10px 0;
  }
}
