.doughnut-chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
  margin-bottom: 10px;
}

.doughnut-chart {
  width: 150px;
  height: 150px;
}

.doughnut-chart-center-text {
  position: absolute;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}
@media (max-width: 768px) {
  .doughnut-chart {
    width: 100px;
    height: 100px;
  }

  .doughnut-chart-center-text {
    font-size: 1rem;
  }
}
@media (max-width: 450px) {
  .chart-container {
    margin-left: 7vh;
  }
  .doughnut-chart {
    width: 100px;
    height: 100px;
  }

  .doughnut-chart-center-text {
    font-size: 1rem;
  }
}
