.nutrition-chart-position {
  display: flex;
  justify-content: center;
}

.nutrition-chart-container {
  background-color: #294c2b;
  padding: 5px;
  margin: 0px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 750px;
  height: 150px;
}

.nutrition-chart-items {
  display: flex;
}

.nutrition-chart-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 35px;
}

.nutrition-chart-header {
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

.doughnut-chart-wrapper {
  width: 30px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nutrition-chart-content {
  display: flex;
  align-items: center;
}

.nutrition-value {
  color: white;
  font-size: 1.2rem;
  margin-left: 18px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .nutrition-chart-container {
    width: 100%;
    height: auto;
    padding: 10px;
  }

  .nutrition-chart-items {
    flex-direction: column;
  }

  .nutrition-chart-item {
    margin: 10px 0;
  }

  .nutrition-value {
    margin-left: 0;
    margin-top: 10px;
  }
}
@media (max-width: 450px) {
  .nutrition-chart-container {
    width: 100%;
    height: auto;
    padding: 10px;
    margin-left: 10vh;
    margin-right: 5vh;
  }
  .nutrition-chart-items {
    flex-direction: column;
  }

  .nutrition-chart-item {
    margin: 10px 0;
  }

  .nutrition-value {
    margin-left: 0;
    margin-top: 10px;
  }
}
