.Dashboard-Nutrisi h1 {
  font-size: 22px;
  margin-top: 7vh;
  margin-left: 15vh;
  margin-bottom: 2vh;
}
.Dashboard-Pelacakan {
  display: flex;
  flex-direction: column;
  background-color: #294c2b;
  color: #ffffff;
  margin-left: 15vh;
  margin-right: 5vh;
  border-radius: 20px;
  gap: 30px;
  padding: 30px;
}

.Pelacakan-Item {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 1vh;
}

.Karbohidrat-img {
  width: 70px;
  height: 60px;
  border-radius: 10px;
}

.Protein-img {
  width: 55px;
  height: 60px;
  border-radius: 10px;
  margin-right: 15px;
}

.Lemak-img {
  width: 50px;
  height: 60px;
  border-radius: 10px;
  margin-right: 20px;
}
.Pelacakan-Text {
  flex: 1;
}

.Pelacakan-Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Marmelad", sans-serif;
  font-size: 20px;
}

.Pelacakan-Header p {
  margin: 0;
}

.Percentage {
  font-weight: 700;
}

.Progress-Bar {
  background-color: #e0e0e0;
  border-radius: 25px;
  width: 100%;
  height: 10px;
  margin-top: 5px;
  overflow: hidden;
}

.Progress {
  background-color: #ef723d;
  height: 100%;
  border-radius: 25px;
}

@media (max-width: 450px) {
  .Dashboard-Nutrisi {
    margin-top: -5vh;
    margin-bottom: 5vh;
  }
}
