.food-taken {
  padding: 20px 150px 20px 150px;
}

.food-taken-text {
  font-size: 24px;
  font-weight: 700;
  font-weight: bold;
  margin-bottom: 20px;
}

.food-choices-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.food-choice-container2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: calc(50% - 20px);
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px;
}

.food-image2 {
  max-width: 100%;
  width: 180px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
  margin-left: 20px;
  background-color: #ffffff;
  padding: 20px 177px 5px 10px;
  border-radius: 8px;
  width: 651px;
  height: 174px;
  margin: 0px;
  position: relative;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  border: 1px solid #e0e0e0;
}

.food-image2 {
  display: flex;
  width: 53%;
  margin-top: 1px;
  margin-left: 11px;
  margin-right: 18px;
}

.food-details {
  text-align: left;
  margin-left: 7vh;
}

.food-details h3 {
  font-size: 25px;
}

.food-details p {
  font-size: 18px;
  font-weight: 600;
}