.Landing-Header {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  margin-left: 15vh;
  @media only screen and (max-width: 768px){
    margin-left: 5vh;
  }
}
.Landing-Header h1 {
  margin-right: 75vh;
  @media only screen and (max-width: 768px){
    margin-right: 0vh;
  }
}
.Landing-Header p {
  font-size: 20px;
  margin-left: 100px;
  font-weight: 500;
  @media only screen and (max-width: 768px){
    margin-left:25px;
  }
}
.Landing-Header a {
  text-decoration: none;
  color: black;
  font-family: "Marko One", sans-serif;
  display: inline-block;
}
.Landing-Header a:hover {
  color: #ef723d;
}

.Landing-AboutUs,
.Landing-FAQ,
.Landing-Home {
  border-bottom: 5px solid #294c2b;
  border-radius: 3px;
}
/* PENGENALAN */
.Landing-Content {
  background-color: #294c2b;
  color: #fff;
  border-radius: 30px;
  margin-top: 4vh;
  margin-left: 15vh;
  margin-right: 20vh;
  padding: 20px 80px 50px;
  @media only screen and (max-width: 768px){
    margin-left: 15px;
    margin-right: 15px;
    padding: 20px 40px 50px;
  }  
}
.Landing-Content h1 {
  font-size: 35px;
}
.Landing-Content p {
  font-size: 20px;
  margin-top: 3vh;
  margin-bottom: 4vh;
}
.Landing-Content a {
  padding: 8px 70px;
  background-color: #ef723d;
  text-decoration: none;
  font-size: 15px;
  font-weight: 800;
  border-radius: 5px;
  border: none;
  color: #fff;
}
.Landing-Content a:hover {
  background-color: #f0dd98;
  color: #000000;
}
.Landing-Content .Home-img {
  position: absolute;
  transform: translate(137%, -17%);
  width: 100%;
  max-width: 60vh;
  object-fit: cover;
  index: 1;
  @media only screen and (max-width: 768px){
    display: none;
  }  
}

/* ABOUT US */
.Landing-About {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  margin-top: 5px;
  max-width: 100%;
  font-size: 20px;
}
.Landing-About p {
  border-radius: 10px;
  max-width: 100%;
  font-size: 20px;
}
.Landing-About a {
  padding: 8px 10px;
  background-color: #ef723d;
  font-size: 15px;
  font-weight: 800;
  border-radius: 5px;
  text-decoration: none;
  border: none;
  color: #fff;
}
.Landing-About a:hover {
  background-color: #f0dd98;
  color: #000000;
}

/* PENJELASAN FITUR */
.Landing-Why {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  width: 100%;
  max-width: 800px;
  padding: 0 20px;
  margin-left: 39vh;
}

.Landing-Why img{
  @media only screen and (max-width: 768px){
    display: none;
  }  
}
.spacing-br br {
  content: "";
  display: block;
  margin-bottom: 15px;
}
.LString-img {
  position: absolute;
  transform: translate(-65%, -20%);
  width: 100%;
  max-width: 67vh;
  object-fit: cover;
  z-index: 1;
}
.Center-Why {
  text-align: center;
  width: 100%;
  padding-top: 20px;
  font-size: 30px;
  font-weight: bold;
  color: #000000;
  @media screen and (max-width: 768px) {
transform: translate(-70%,-5%);

  }
}
.Landing-Why .right-img {
  position: absolute;
  transform: translate(115%, -50%);
  width: 100%;
}
.Landing-Fitur {
  background-color: #f0dd98;
  /* padding-bottom: 5vh; */
  margin-bottom: -20px;
  margin-top: -8vh;
  @media screen and (max-width: 768px) {
    padding-top: 50px;
  }
}
.FiturContent-Left,
.FiturContent-Right {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 15vh;
  margin-right: 15vh;
  @media screen and (max-width: 768px){
    margin-left: 0px;
  }
}

.FiturContent-Left {
  @media screen and (max-width: 768px) {
    padding-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    transform: translate(-50%,0%);
  }
}

.FiturContent-Right {
  @media screen and (max-width: 768px) {
    padding-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
  }
}
/* .Notifikasi-img */
.Pelacakan-img,
.Kalori-img {
  width: 100%;
  max-width: 45vh;
  height: auto;
  margin-right: 20px;
  margin-top: 5vh;
  margin-right: 7vh;
  @media screen and (max-width: 768px) {
    max-width:80vh;
    margin-right: 0px;
    margin-top: 0px;
  }
}
.PelacakanAir-img,
.Notifikasi-img {
  width: 100%;
  max-width: 45vh;
  height: auto;
  margin-right: 20px;
  margin-top: 5vh;
  margin-right: 7vh;
  margin-bottom: 70px;
  @media screen and (max-width: 768px) {
    max-width:80vh;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}


.Text-Content {
  max-width: 100%;
  @media screen and (max-width: 768px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.Text-Content h1 {
  font-size: 27px;
  margin-bottom: 10px;
}

.Text-Content p {
  font-size: 20px;
}
