.App {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
}


.main-content {
  flex: 1;
  padding: 20px;
}

.top-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.greeting-section {
  display: flex;
  flex-direction: column;
  margin-left: 10vh;
  margin-top: 2vh;
}

.search-profile-section {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-right: 20px;
}

.center-line {
  width: 80%;
  margin: 0 auto 0px auto;
  border-top: 2px solid black;
}


.personalize-section-daily-meal {
  background-color: #F0DD98;
  display: flex;
  flex-direction: column;
}

.profile-picture {
  width: 100px;
  height:100px;
}

.calendar-section{
  display: flex;
  justify-content: center;
}